<html lang="en"><head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Gustavo Chico</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/plugins/CSSPlugin.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

  <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.11.1/tachyons.min.css"><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- MUST MANUALLY INCLUDE THIS LINE ON EXPORT OR IT WONT SCALE, AS WELL AS CHANGING THE TITLE TAG -->
<div class="w-100 vh-100 relative" id="desktop">
  <nav class="absolute top-0 left-0 right-0 flex items-center pv2 ph4 bw1">
    <!-- <img class="logo mr4" src="https://static.thenounproject.com/png/1783288-200.png"> -->
<svg class="logo mr4 nt1 nb1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="37.2px" height="33.8px" viewBox="0 0 37.2 33.8" style="overflow:scroll;enable-background:new 0 0 37.2 33.8;" xml:space="preserve">
<defs>
</defs>
<path d="M31.6,29.4c-1.1,0.9-2.6,1.4-4.4,1.4c-1.6,0-2.9-0.4-4-1.1c-1.1-0.7-1.9-1.7-2.4-3c-0.5-1.3-0.8-2.8-0.8-4.5
	c0-1.7,0.3-3.2,0.8-4.5c0.5-1.3,1.3-2.3,2.4-3c1.1-0.7,2.4-1.1,3.9-1.1c1.8,0,3.2,0.4,4.3,1.3c1.1,0.9,1.9,2.1,2.3,3.7l3.3-0.9
	c-0.7-2.2-1.8-4-3.5-5.3c-1.7-1.3-3.8-2-6.4-2c-0.9,0-2.1,0.1-3,0.3c-4.2,1-5.2,1-10.4,1l-0.4,0v3.1l5,0c-0.5,1.4-0.9,2.3-1.5,3.3
	c-0.6,1-1.4,1.8-2.4,2.3c-1,0.5-2.1,0.8-3.4,0.7c-1.7,0-3-0.4-4.2-1.1c-1.1-0.7-1.9-1.8-2.5-3.1c-0.6-1.3-0.8-2.9-0.8-4.7
	c0-1.8,0.3-3.4,0.8-4.7C5,6.1,5.8,5.1,6.9,4.3C8,3.6,9.4,3.2,11.1,3.2c1.6,0,2.9,0.4,4,1.3c1.1,0.8,1.8,1.9,2.3,3.3l3.4-0.6
	c-0.6-2.3-1.7-4-3.4-5.3C15.8,0.6,13.6,0,10.9,0c-2.1,0-4,0.5-5.7,1.5c-1.6,1-2.9,2.4-3.8,4.2C0.5,7.5,0,9.6,0,12.2
	c0,1.9,0.3,3.6,0.8,5.1c0.5,1.5,1.3,2.8,2.3,3.8c1,1.1,2.1,1.8,3.4,2.4c1.3,0.5,2.8,0.8,4.3,0.8c2.2,0,4-0.4,5.6-1.3
	c0.1,2.1,0.6,3.6,1.4,5.2c0.8,1.8,2.1,3.1,3.6,4.1c1.6,1,3.5,1.5,5.8,1.5c2.6,0,4.7-0.7,6.5-2c1.7-1.3,2.9-3.1,3.6-5.3l-3.3-0.9
	C33.5,27.2,32.7,28.5,31.6,29.4z"></path>
</svg>
    
    <a class="black link no-underline f4 mr4 b" href="#">{{activeWindowTitle}}</a>
    <a class="black link no-underline f5 mr4" href="#" @click="closeWindow()">File</a>
    <a class="black link no-underline f5 mr4" href="#" @click="openWindow('Motion')">Edit</a>
    <a class="black link no-underline f5 mr4" href="#" @click="openWindow('Code')">Help</a>
  </nav>
  <div class="restrictor absolute right-2 bottom-2 left-2">
    <transition-group name="fade">
      <draggable-window :id="window.id" v-if="window.isShowing" v-for="(window, $index) in windows" :key="$index" :content="window.comp" :title="window.title" :index="window.id">
        {{ window.content }}
      </draggable-window>
    </transition-group>
  </div>
  <div class="absolute top-0 left-0 bottom-0 h-100 flex flex-column pa3 mt5">
    <div class="flex items-center pb1 nt3">
      <button class="flex-auto bn bg-transparent" style="margin:-13px 3px -10px 0px;height:80px;" @click="openWindow('About')">
        <i class="material-icons f1">accessibility</i>
        <h4 class="na2 fw4">About</h4>
      </button>
    </div>
    <div class="flex items-center">
      <button class="flex-auto bn bg-transparent" style="margin:-0px 3px -10px 0px;height:80px;" @click="openWindow('Code')">
        <i class="material-icons f1">bug_report</i>
        <h4 class="na2 fw4">UI/UX</h4>
      </button>
    </div> 
    <div class="flex items-center">
      <button class="flex-auto bn bg-transparent" style="margin:-0px 3px -10px 0px;height:80px;" @click="openWindow('Design')">
        <i class="material-icons f1">delete_forever</i>
        <h4 class="na2 fw4">Design</h4>
      </button>
    </div>
    <div class="flex items-center">
      <button class="flex-auto bn bg-transparent" style="margin:-0px 3px -10px 0px;height:80px;" @click="openWindow('Motion')">
        <i class="material-icons f1">cached</i>
        <h4 class="na2 fw4">Motion</h4>
      </button>
    </div>
    <div class="flex items-center">
      <button class="flex-auto bn bg-transparent" style="margin:-0px 3px -10px 0px;height:80px;" @click="openWindow('Contact')">
        <i class="material-icons f1">add_shopping_cart</i>
        <h4 class="na2 fw4">Contact</h4>
      </button>
    </div>
  </div>
</div>

<script type="x/template" id="draggable-window">
	<div :id="id" class="window absolute bg-white ba bw1 b--black">
    <div class="bb b--black bw1 flex items-center pa1">
      <button @click="closeWindow" class="bg-transparent bn dim flex items-center">
      	<i class="material-icons mr1 f3">clear</i>
      </button>
    </div>
    <div class="pa3">
    	<div :is="content"></div>
    </div>
  </div>
</script>

<script type="text/x-template" id="About-template">
	<div class="measure">
  	<p class="mt0 f2 fw7"><a class="blue">Gustavo Chico </a>is a multi-faceted designer/coder.</p>

      <a class="mr1 link dim blue" href="https://twitter.com/Clovelt" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a class="mr2 link dim blue" href="https://github.com/JGustavoChico" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a class="mr2 link dim blue" href="https://www.instagram.com/cloveltoc/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      <a class="link dim blue fw7 f3 ml2" href="https://gustavochico.com/img/CV.pdf" target="_blank">CV</a>
  </div>
</script>
<script type="text/x-template" id="Design-template">
	<div class="measure-wide">
  	<p class="mt0">I do all sorts of design work that ranges from branding, packaging and editorial to animation, art direction and illustration. <a class="dark-pink dim link no-under-line" href="https://www.instagram.com/inkquarantine_/" target="_blank">Some examples:</a>
    </p>
    <div class="gallery-section db w-100 breakout-m nb3 nt3">

        <main class="cf">
          <div class="fl w-90 w-50-ns ph2">
            <a href="https://gustavochico.com/img/des/files/glue/" class="pv2 nb4 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/des/des_glue.jpg"></a>
            <a href="https://vimeo.com/393480291" class="pv2 nt4 nb0 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/des/des_head.jpg"></a>
          </div>
          <div class="fl w-50 w-25-ns ph2">
            <a href="https://gustavochico.com/img/des/files/memoriaFlamenco.pdf" class="pv2 grow db no-underline black mt2"><img class="db w-100" src="https://gustavochico.com/img/des/des_flamenco.jpg"></a>
            <a href="https://gustavochico.com/img/des/files/taip.pdf" class="pv2 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/des/des_taip.jpg"></a>
          </div>
          <div class="fl w-50 w-25-ns ph2">
            <a href="https://www.instagram.com/inkquarantine_/" class="pv2 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/des/des_ink.jpg"></a>
            <a href="https://gustavochico.com/img/des/files/memoriaHPreducida.pdf" class="pv2 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/des/des_hp.jpg"></a>
          </div>
        </main>

      </div>
    
  </div>
</script>
<script type="text/x-template" id="Motion-template">
	<div class="measure">
  	<p class="mt0">I've made trailers for
      <a class="dark-pink dim link no-under-line" href="https://store.steampowered.com/app/1267810/Gutwhale/" target="_blank">a variety of commercial videogames.</a>
    </p>
    <iframe class="video" src="https://www.youtube.com/embed/YjufZWGwUo8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="video" src="https://www.youtube.com/embed/videoseries?list=PLwlH7ez5AoaR-XxvBvbMJfN2RZnClyw55" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</script>
<script type="text/x-template" id="Code-template">
	<div class="measure-wide">
  	<p class="mt0">I have extensive experience in app and web development, as well as work in physical installations like the live canvas I was commisioned <a class="dark-pink dim link no-under-line" href="https://offfsevilla.com/" target="_blank">for one of the most prestigious graphic design conferences/festivals in Spain.</a>
    </p>
    <div class="gallery-section db w-100 breakout-m nb1 nt3">
        <main class="cf">
          <div class="fl w-30 w-30-ns ph2 nr3 nl3">
            <a href="https://docs.google.com/document/d/1cEH2Q2U4yYAVLnoPwBL55GTnid-fsV1O6dAlLxPBrQE/edit?rm=minimal#heading=h.o2iwx3vdck7p" class="pv2 nb4 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/UIX/UIX_klasoScreen.jpg"></a>
          </div>
          <div class="fl w-50 w-50-ns ph2 nr4 nl1">
            <a href="https://docs.google.com/document/d/1bSNwCcTt2jRW22CIIEZG8Zj2Wx6siH1xivX70dHSUpI/edit?rm=minimal#heading=h.4prkjmzco10w" class="pv2 grow db no-underline black mt2"><img class="db w-100" src="https://gustavochico.com/img/UIX/UIX_offf.gif"></a>
          </div>
          <div class="fl w-30 w-30-ns ph2 nr5">
            <a href="https://docs.google.com/document/d/1Nx1FQ5nLBv74pH3c42r-9LOK5LSWOGXLWMRRRFxI9Qo/edit?rm=minimal#heading=h.o2iwx3vdck7p" class="pv2 grow db no-underline black"><img class="db w-100" src="https://gustavochico.com/img/UIX/UIX_recever.jpg"></a>
          </div>
        </main>
      </div>
  </div>
  <!-- 
    <p class="mt0">I make games you can <a class="dark-pink dim link no-under-line" href="https://clov.itch.io/" target="_blank">play for free right in your browser.</a></p>
    <iframe class="itch" src="https://itch.io/embed/168416?border_color=ffffff" frameborder="0"><a href="https://clov.itch.io/meta">META-ZETA by Clovelt</a></iframe>
    <iframe class="itch" src="https://itch.io/embed/51867?border_color=ffffff" width="502" height="167" frameborder="0"><a href="https://clov.itch.io/dogsofthescreen">DogsOfTheScreen by Clovelt</a></iframe>
   -->
</script>
<script type="text/x-template" id="Contact-template">
	<div class="measure">
  	<p class="mt0 mb1">If you have any formal inquiries, just shoot me an email.</p>
    <a class="black f3 fw6 link email nr1" href="mailto:josegustavochico@gmail.com">josegustavochico</a>
    <a class="black f3 fw6 link email" href="mailto:josegustavochico@gmail.com">@gmail.com</a>
    <i class="material-icons f3 dim pointer" onclick="
       $(this).addClass('active');textarea = $('<textarea>').val('josegustavochico@gmail.com').height(0).appendTo(document.body).select();document.execCommand('copy');textarea.remove();">content_copy</i>
    <a class="link dim blue fw7 f3" href="https://gustavochico.com/img/CV.pdf" target="_blank">CV</a>
    <!-- 
    <p class="mt4">Here's a countdown <strong>for no reason</strong> at all.</p>
    <hr class="o-40 mb3">
    <div class="f4" id="timeLeft"></div>
    -->
  </div>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.9.19/interact.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
<script src="https://cdn.rawgit.com/HugoGiraudel/Countdown.js/a88b61fc/countdown.min.js"></script>
<script src="js/index.js"></script>
<!-- partial -->
  <script src="./script.js"></script>



</body></html>